body {
    margin: 0;
    font-family: Arial;
}

.container {
    margin: 30px;
    background-color: #FFFFFF;
    width: 95%;
    height: 400px;
    text-align: center;
}

main {
    background-color: rgb(74, 165, 226);
    height: 55px;
    display: flex;
    flex: 1;
    color: #FFFFFF;
}

main .logo {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
}

.menu {
    flex: 1;
    font-size: 20px;
    padding: 20px
}

.menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 470px;
}

.menu a:hover {
    padding: 10px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color: rgb(74, 165, 226);
}

.menu:hover {
    text-decoration: none;
}

.menu_line {
    flex: 1;
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-right: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

.m_line {
    height: 4px;
    background-color: #FFFFFF;
}

.bg-banner {
    background-image: url(../img/bg-banner.jpg);
    background-position: center;
    display: flex;
}

.text {
    text-align: left;
    padding: 20px;
    color: #FFFFFF;
}

.text, 
.banner {
    flex: 1;
    margin: 60px;
}

.text h1 {
    font-size: 50px;
    
    
}

.text h2 {
    font-size: 20px;
    margin-top: 20px;
    
}

.botao button {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}


.icons {
    display: flex;
    flex: 1;
    height: 350px;
}

.money,
.size,
.truck {
    flex: 1;
    margin: 50px;
}

.money img {
    padding: 10px;
    border: 3px solid #000000;
    border-radius: 100px;
    background-color:  rgb(74, 165, 226);
}

.money h1 {
    font-size: 20px;
}

.money h2 {
    font-size: 16px;
    text-align: center;
}

.size img {
    padding: 10px;
    border: 3px solid #000000;
    border-radius: 100px;
    background-color:  rgb(74, 165, 226);
}

.size h1 {
    font-size: 20px;
}

.size h2 {
    font-size: 16px;
    text-align: center;
}

.truck img {
    padding: 10px;
    border: 3px solid #000000;
    border-radius: 100px;
    background-color:  rgb(74, 165, 226);
}

.truck h1 {
    font-size: 20px;
}

.truck h2 {
    font-size: 16px;
    text-align: center;
}

section span h1 {
    text-align: left;
    margin-left: 25px;
}

.sales {
    background-color: #FFFFFF;
    display: flex;
    flex: 1;
    margin-bottom: 20px;
}

.shoes {
    margin: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    
}

.shoes img {
    width: 280px;
    height: 280px;
}

.shoes h1 {
    font-size: 16px;
}

.addtocart {
    margin-bottom: 10px;
}

.addtocart button {
    background-color: rgb(74, 165, 226);
    color: #FFFFFF;
    border: 1px solid rgb(74, 165, 226);
    border-radius: 10px;
    padding: 5px;
}

.sale {
    text-align: left;
    margin: 10px;
}

.sale button {
    background-color: red;
    color: #FFFFFF;
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px;
}


